/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*
 * Variables
 **/
$pri_colour: #990000;
$sec_colour: #FDC708;
$main_link_colour: #336699;
$border_colour: #777;
$shaded_colour: #F5F5F5;
$border_radius: 5px;
$full_content_width: 820px;

/*
 * Mixins
 **/
@import "compass";
@import "mixins/general";
@import "compass/css3/images";
@import "compass/utilities/general/clearfix";

/*
 * Imports
 **/
@import "uofg/header";
@import "uofg/sidebar";
@import "uofg/home";
@import "uofg/screen_layout";
@import "uofg/sidenav";
@import "uofg/dsidenav";
@import "uofg/style";
@import "uofg/style2";
@import "uofg/topmenu";
@import "ug-data/search";
@import "ug-data/dataset-add";

/*
 * Main Content
 **/

#main div.container {
	padding: 10px 20px; 
	width: 820px;
	overflow: visible;
	
	@include legacy-pie-clearfix();
}

a {
	color: $main_link_colour;
}

ul {
	@include list;
	list-style-type: disc;
}

ol {
	@include list;
	list-style-type: decimal;
}

code {
	font-family: "Courier New" Courier monospace;
	background-color: #CCC;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table td {
	vertical-align: top;
}


/*
 * Flash Messages.
 **/
#status { 

	&.success {
		border: 1px solid green;
		background: #CCEECC;
	}

	&.error {
		border: 1px solid red;
		background: #EECCCC;
	}
	
	padding: 1em;
	max-width: $full_content_width;
	text-align: center;

}

/*
 * Forms
 **/
#main form {
	
	label,
	{
		span {
			float: left;
			clear: both;
			display: block;
		}
		select, 
		input,
		textarea {
			float: left;
			clear: both;	
		}
	}
	
	fieldset {
		border: 1px solid $border-colour;
		padding: 1em;
		margin-bottom: 1em;
	 
		legend {
			font-size: 125%;
		}
	}
	
	input,
	select {
		height: 26px;
	}
	
	select {
		height: 24px;
	}
	
	select[multiple=true] {
		height: auto;
		min-height: 12em;
	}
	
	input[type="submit"] {
		width: auto;
		float: left;
		clear: both;
	} 
}