/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$pri_colour: #7C0000;
$sec_colour: #FDC708;
$main_link_colour: #336699;

@import "uofg/header";
@import "uofg/sidebar";
@import "uofg/home";
@import "uofg/screen_layout";
@import "uofg/sidenav";
@import "uofg/dsidenav";
@import "uofg/style";
@import "uofg/style2";
@import "uofg/topmenu";
