/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*
 * Variables
 **/
$pri_colour: #990000;
$sec_colour: #FDC708;
$main_link_colour: #336699;
$border_colour: #777;
$shaded_colour: #F5F5F5;
$border_radius: 5px;
/*
 * Mixins
 **/
@import "compass";
@import "mixins/general";
@import "compass/css3/images";

/*
 * Imports
 **/
@import "uofg/header";
@import "uofg/sidebar";
@import "uofg/home";
@import "uofg/screen_layout";
@import "uofg/sidenav";
@import "uofg/dsidenav";
@import "uofg/style";
@import "uofg/style2";
@import "uofg/topmenu";


/*
 * Main Content
 **/

#main div.container {
	padding: 10px 20px; 
	width:820px;
}

a {
	color: $main_link_colour;
}

ul {
	@include list;
	list-style-type: disc;
}

ol {
	@include list;
	list-style-type: decimal;
}

code {
	font-family: "Courier New" Courier monospace;
	background-color: #CCC;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table td {
	vertical-align: top;
}

/*
 * Search
 **/
#search {
	#basicSearch {
		float: left;
		display: block;
		margin-right: 1em;
	}
	
	label,
	input, 
	select {
		float: left;
		clear: both;
	}
	
	input,
	select {
		&:hover {
			border: 2px solid #6699CC;
		}
		&:focus {
			border: 2px solid #6699CC;
		}
		
		margin-bottom: 0.5em;
		width: 20em;
	}
	
	select {
		height: 24px;
	}
	
	input[type="submit"] {
		width: auto;
	}
	
	#advancedSearch {
		float: left;
		display: block;
		background-color: $shaded_colour;
		border-radius: $border_radius;
		padding: 0 1em;
		display: none;
			
		legend {
			font-size: 125%;
		}
	}
}

#results {
	float: left;
	clear: both;
}

