@mixin list {
	margin-left: 2em;
}

@mixin border {
	width: 95%;
	padding: 1em;
	float: left;
	border: 1px solid $border_colour;
}

@mixin hidden {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

@mixin visible {
   position: static !important;
}
