#main {
  background: white url("../../media/layout/mainbg.jpg") repeat-x;
}
#main div.container{
  background: url("../../media/layout/mainbghome.png") repeat-y;
  padding: 0 10px;
}

#content {
  float: none;
  margin-bottom: 0;
}
#sidebar {
  color: #ffffff;
  float:right;
  width: 238px;
  padding: 15px;
}

#sidebar a {
  color: #ffffff;
}

#sidebar ul.menu {
  list-style: none outside none;
  padding: 0;
}

#sidebar ul.menu li {
  list-style: none;
  padding: 3px 10px;
}

#sidebar div.block-menu h3 {
  text-transform: uppercase;
}

#feature{
  background: #45403a url("../../media/layout/featurebg.jpg") repeat-x;
  height: 220px;
  border-top: 1px solid white;
}
#feature img {
  border: 0;
}

#main2{
  background: white;
}
#main2 .container {
  background: url("../../media/layout/main2bg.png") repeat-y;
  padding: 0 10px 20px;
}

#info {
  background: #787570 url("../../media/layout/infobg.jpg") no-repeat;
  padding: 40px 10px;
}
#info a {
  color: white;
}
#info ul {
  list-style: none;
}
#info h3 {
  color: #fc0;
  font-weight: 400;
}
#info p { text-align: justify;}
#info .infobox {
  color: white;
  float: left;
  width: 240px;
  margin-left: 20px;
}
/*#info .infobox3 {margin: 0;}*/

#footer {
    margin-top: 0;
}
