/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Header
 */
/* line 4, ../../scss/uofg/header.scss */
#header #global {
  background: #990000 url("../../media/header/globalbg.jpg");
}

/* line 8, ../../scss/uofg/header.scss */
#logo {
  background: url("../../media/header/universityofguelph.gif");
  display: block;
  float: left;
  height: 100px;
  width: 100px;
}

/* line 16, ../../scss/uofg/header.scss */
#logo strong {
  left: -999px;
  position: absolute;
  width: 990px;
}

/* line 22, ../../scss/uofg/header.scss */
#global {
  height: 100px;
  overflow: visible;
}

/* Note: #global h1 deprecated in favor of #global div.title */
/* line 28, ../../scss/uofg/header.scss */
#global h1, #global div.title {
  font: bold 24px Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  display: block;
  position: absolute;
  left: 125px;
  top: 10px;
  color: white;
}

/* line 36, ../../scss/uofg/header.scss */
#global h1 a, #global div.title a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: normal;
  line-height: 100%;
  white-space: nowrap;
  width: 100%;
}

/* line 45, ../../scss/uofg/header.scss */
#global h1 a span.slogan, #global div.title a span.slogan {
  font-size: 20px;
  font-weight: normal;
}

/* line 50, ../../scss/uofg/header.scss */
#globalnav {
  position: absolute;
  right: 0;
  top: 66px;
  width: 700px;
  height: 50px;
}

/* line 58, ../../scss/uofg/header.scss */
#globalnav ul {
  float: right;
  list-style: none;
}

/* line 63, ../../scss/uofg/header.scss */
#globalnav li {
  float: left;
  margin: 0 0 0 5px;
}

/* line 68, ../../scss/uofg/header.scss */
#globalnav a {
  color: white;
  font-weight: 700;
  padding: 0 0 5px 20px;
  text-decoration: none;
}

/* line 75, ../../scss/uofg/header.scss */
#globalnav a span {
  padding: 5px 20px 5px 0;
}

/* line 79, ../../scss/uofg/header.scss */
#globalnav a, #globalnav a span {
  display: block;
  float: none;
}

/* line 84, ../../scss/uofg/header.scss */
#globalnav a:hover {
  background: #880000 url("../../media/header/tabhoverbg.png") left top no-repeat;
  color: white;
  padding: 0 0 0 20px;
}

/* line 90, ../../scss/uofg/header.scss */
#globalnav a:hover span {
  background: url("../../media/header/tabhoverbg.png") right top no-repeat;
  padding: 5px 20px 9px 0;
}

/* line 95, ../../scss/uofg/header.scss */
#global #dirSearch, #global #libSearch {
  display: none;
}

/* line 99, ../../scss/uofg/header.scss */
#global form {
  background: url("../../media/header/searchbg.gif");
  background-repeat: no-repeat;
  float: right;
  height: 36px;
  margin: 10px 0;
  overflow: hidden;
  padding: 4px 0;
  position: relative;
  width: 260px;
}

/* line 110, ../../scss/uofg/header.scss */
#global form input#searchbutton, #global form input#searchbutton2, #global form input#searchbutton3 {
  border: 0;
  display: block;
  height: 16px;
  position: absolute;
  right: 30px;
  top: 5px;
  width: 16px;
}

/* line 120, ../../scss/uofg/header.scss */
#global form #searchtext, #global form #searchtext2, #global form #searchtext3 {
  background: white transparent;
  border: solid 0 white;
  font-size: 11px;
  height: 12px;
  margin: 0 15px;
  overflow: hidden;
  padding: 2px;
  width: 200px;
}

/* line 131, ../../scss/uofg/header.scss */
#global #searchtype {
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 38px;
  right: 74px;
}

/* line 141, ../../scss/uofg/header.scss */
#global form label, #global #searchtype a, #global #searchtype b {
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 2px;
  font-weight: 300;
}

/* line 149, ../../scss/uofg/header.scss */
#global #searchtype a {
  text-decoration: none;
  padding: 2px 0 4px 7px;
}

/* line 154, ../../scss/uofg/header.scss */
#global #searchtype a span {
  padding: 0 7px 4px 0;
}

/* line 158, ../../scss/uofg/header.scss */
#global .selectedSearch {
  background: #cc0000 url("../../media/header/searchtypebg.gif") left bottom no-repeat;
  padding: 2px 0 4px 7px;
}

/* line 163, ../../scss/uofg/header.scss */
#global .selectedSearch span {
  background: #cc0000 url("../../media/header/searchtypebg.gif") right bottom no-repeat;
  padding: 0 7px 4px 0;
}

/*
 * /Header
 */
/* line 1, ../../scss/uofg/sidebar.scss */
#sidebar {
  color: #666666;
  min-height: 270px;
  background: white url("../../media/layout/sidebarbg.jpg") no-repeat;
  display: block;
  float: right;
  padding: 20px 0;
  width: 270px;
  overflow: hidden;
}

/* line 12, ../../scss/uofg/sidebar.scss */
#sidebar a {
  color: #666666;
}

/* line 16, ../../scss/uofg/sidebar.scss */
#sidebar a img {
  border: none;
}

/* line 20, ../../scss/uofg/sidebar.scss */
#sidebar > * {
  margin: 0;
  padding: 2px 20px;
  display: block;
}

/* line 26, ../../scss/uofg/sidebar.scss */
#sidebar > ol, #sidebar > ul {
  padding: 0;
}

/* line 30, ../../scss/uofg/sidebar.scss */
#sidebar > * > li {
  margin: 0 60px;
  list-style-type: circle;
}

/* line 35, ../../scss/uofg/sidebar.scss */
#sidebar > * > li > ol, #sidebar > * > li > ul {
  margin: 0 15px;
}

/* line 39, ../../scss/uofg/sidebar.scss */
#sidebar dl dt {
  font-weight: 700;
}

/* line 43, ../../scss/uofg/sidebar.scss */
#sidebar dl dd {
  margin-bottom: 1em;
}

/* line 47, ../../scss/uofg/sidebar.scss */
#sidebar h2, #sidebar p {
  color: #666;
  margin: 0 0 20px;
  padding: 2px 40px;
}

/* line 53, ../../scss/uofg/sidebar.scss */
#sidebar h2 {
  font-size: 16px;
  margin: 10px 0 20px;
}

/* line 58, ../../scss/uofg/sidebar.scss */
#sidebar h3 {
  color: #666;
  font-size: 18px;
  font-weight: normal;
}

/* line 64, ../../scss/uofg/sidebar.scss */
#sidebar p {
  font-size: 11px;
  margin: 10px 0 20px;
}

/* line 1, ../../scss/uofg/home.scss */
#main {
  background: white url("../../media/layout/mainbg.jpg") repeat-x;
}

/* line 4, ../../scss/uofg/home.scss */
#main div.container {
  background: url("../../media/layout/mainbghome.png") repeat-y;
  padding: 0 10px;
}

/* line 9, ../../scss/uofg/home.scss */
#content {
  float: none;
  margin-bottom: 0;
}

/* line 13, ../../scss/uofg/home.scss */
#sidebar {
  color: #ffffff;
  float: right;
  width: 238px;
  padding: 15px;
}

/* line 20, ../../scss/uofg/home.scss */
#sidebar a {
  color: #ffffff;
}

/* line 24, ../../scss/uofg/home.scss */
#sidebar ul.menu {
  list-style: none outside none;
  padding: 0;
}

/* line 29, ../../scss/uofg/home.scss */
#sidebar ul.menu li {
  list-style: none;
  padding: 3px 10px;
}

/* line 34, ../../scss/uofg/home.scss */
#sidebar div.block-menu h3 {
  text-transform: uppercase;
}

/* line 38, ../../scss/uofg/home.scss */
#feature {
  background: #45403a url("../../media/layout/featurebg.jpg") repeat-x;
  height: 220px;
  border-top: 1px solid white;
}

/* line 43, ../../scss/uofg/home.scss */
#feature img {
  border: 0;
}

/* line 47, ../../scss/uofg/home.scss */
#main2 {
  background: white;
}

/* line 50, ../../scss/uofg/home.scss */
#main2 .container {
  background: url("../../media/layout/main2bg.png") repeat-y;
  padding: 0 10px 20px;
}

/* line 55, ../../scss/uofg/home.scss */
#info {
  background: #787570 url("../../media/layout/infobg.jpg") no-repeat;
  padding: 40px 10px;
}

/* line 59, ../../scss/uofg/home.scss */
#info a {
  color: white;
}

/* line 62, ../../scss/uofg/home.scss */
#info ul {
  list-style: none;
}

/* line 65, ../../scss/uofg/home.scss */
#info h3 {
  color: #fc0;
  font-weight: 400;
}

/* line 69, ../../scss/uofg/home.scss */
#info p {
  text-align: justify;
}

/* line 70, ../../scss/uofg/home.scss */
#info .infobox {
  color: white;
  float: left;
  width: 240px;
  margin-left: 20px;
}

/*#info .infobox3 {margin: 0;}*/
/* line 78, ../../scss/uofg/home.scss */
#footer {
  margin-top: 0;
}

/* line 1, ../../scss/uofg/screen_layout.scss */
#frame {
  position: relative;
  left: 230px;
  top: 0;
  border-left: 1px solid black;
}

/* line 7, ../../scss/uofg/screen_layout.scss */
#admin {
  position: absolute;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  border-right: 1px solid black;
}

/* line 15, ../../scss/uofg/screen_layout.scss */
#header #local .container {
  background: url("../../img/header/universityofguelph.gif") left bottom no-repeat;
  height: 50px;
}

/* line 20, ../../scss/uofg/screen_layout.scss */
#localTitle {
  float: right;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 10px 5px 0 0;
}

/* line 30, ../../scss/uofg/screen_layout.scss */
#relatedLinks {
  list-style: none;
}

/*
 * search
 */
/* line 38, ../../scss/uofg/screen_layout.scss */
#search {
  margin: 0;
  padding: 15px 10px;
}

/* line 43, ../../scss/uofg/screen_layout.scss */
#searchbox {
  background: white;
}

/* line 1, ../../scss/uofg/sidenav.scss */
#sidebar #subnav {
  padding: 0;
  margin-top: 20px;
}

/* line 6, ../../scss/uofg/sidenav.scss */
#sidebar #subnav h3 {
  background: #666;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 0 40px;
  text-transform: uppercase;
}

/* line 15, ../../scss/uofg/sidenav.scss */
#sidebar #subnav ul {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

/* line 21, ../../scss/uofg/sidenav.scss */
#sidebar #subnav ul li {
  border: 1px solid #cccccc;
  border-width: 0 0 1px;
}

/* line 26, ../../scss/uofg/sidenav.scss */
#sidebar #subnav ul li a {
  background: #fff;
  color: #666;
  display: block;
  padding: 2px 40px;
  text-decoration: none;
}

/* line 34, ../../scss/uofg/sidenav.scss */
#sidebar #subnav ul li a:hover {
  background: #999;
  color: #fff;
  text-decoration: none;
}

/* line 39, ../../scss/uofg/sidenav.scss */
#sidebar #subnav ul li ul {
  display: none;
}

/* line 1, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block, #sidebar div.block-menu, #sidebar div.menu {
  padding: 0;
  margin-top: 20px;
}

/* line 6, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block h3, #sidebar div.block-menu h3, #sidebar div.menu h3 {
  background: #666;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 0 40px;
  text-transform: uppercase;
}

/* line 15, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block h3 a, #sidebar div.block-menu h3 a, #sidebar div.menu h3 a {
  color: #fff;
  text-decoration: none;
}

/* line 20, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block h3 a:hover, #sidebar div.block-menu h3 a:hover, #sidebar div.menu h3 a:hover {
  text-decoration: underline;
}

/* line 25, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu, #sidebar div.block-menu ul.menu {
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;
}

/* line 30, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li, #sidebar div.block-menu ul.menu li {
  border: solid #cccccc;
  border-width: 0 0 1px;
  margin: 0;
  padding: 0;
}

/* line 36, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li a, #sidebar div.block-menu ul.menu li a {
  display: block;
  width: auto;
  background-color: white;
  color: #666;
  padding: 2px 5px 2px 40px;
  text-decoration: none;
  list-style: none outside none;
}

/* line 45, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.active a, #sidebar div.block-menu ul.menu li.active a {
  font-weight: bold;
  text-decoration: underline;
}

/* line 49, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li a, #sidebar div.block-menu ul.menu li a {
  background: white url(../../media/nav/collapsed.gif) no-repeat left;
}

/* line 52, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li a:hover, #sidebar div.block-menu ul.menu li a:hover {
  background: #999999 url(../../media/nav/collapsed_hover.gif) no-repeat left;
}

/* line 55, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.leaf a, #sidebar div.block-menu ul.menu li.leaf a {
  background-image: none;
}

/* line 58, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded a, #sidebar div.block-menu ul.menu li.expanded a {
  background: white url(../../media/nav/expanded.gif) no-repeat left;
}

/* line 61, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded a:hover, #sidebar div.block-menu ul.menu li.expanded a:hover {
  background: #999999 url(../../media/nav/expanded_hover.gif) no-repeat left;
}

/* line 64, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li a:hover, #sidebar div.block-menu ul.menu li a:hover {
  color: white;
  text-decoration: none;
}

/* 2nd level items */
/* line 70, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li a {
  text-decoration: none;
}

/* line 73, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded a, #sidebar div.block-menu ul.menu li.expanded a {
  border-bottom: 1px solid #cccccc;
}

/* line 76, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul, #sidebar div.block-menu ul.menu li.expanded ul {
  margin: 0;
}

/* line 79, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li, #sidebar div.block-menu ul.menu li.expanded ul li {
  border: none;
}

/* line 82, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li a {
  border: none;
  font-weight: normal;
  background: none;
  color: #333;
  width: 225px;
}

/* line 89, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li a:hover, #sidebar div.block-menu ul.menu li.expanded ul li a:hover {
  text-decoration: underline;
  background: none;
}

/* line 93, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.active a, #sidebar div.block-menu ul.menu li.expanded ul li.active a {
  background: none;
  font-weight: bold;
  text-decoration: underline;
}

/* line 98, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li a {
  background: url(../../media/nav/collapsed.gif) no-repeat left;
}

/* line 101, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.collapsed a:hover, #sidebar div.block-menu ul.menu li.expanded ul li.collapsed a:hover {
  background: url(../../media/nav/collapsed.gif) no-repeat left;
}

/* line 104, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.leaf a, #sidebar div.block-menu ul.menu li.expanded ul li.leaf a {
  background-image: none;
}

/* line 107, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded a, #sidebar div.block-menu ul.menu li.expanded ul li.expanded a {
  background: url(../../media/nav/expanded.gif) no-repeat left;
}

/* 3rd level items */
/* line 112, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li {
  padding-left: 10px;
}

/* line 115, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li.active a, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li.active a {
  font-weight: bold;
  text-decoration: underline;
}

/* line 119, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li a {
  font-weight: normal;
  text-decoration: none;
  color: #333;
}

/* line 124, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li a {
  background-image: none;
}

/* line 127, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li a:hover, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li a:hover {
  background-image: none;
  text-decoration: underline;
}

/* 4th level items */
/* line 133, ../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li ul li ul li ul, #sidebar div.block-menu ul.menu li ul li ul li ul {
  display: none;
}

/* line 1, ../../scss/uofg/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../../scss/uofg/style.scss */
html {
  overflow: scroll;
}

/* line 10, ../../scss/uofg/style.scss */
body {
  background: white url("../../media/layout/mainbg.jpg") repeat-x;
  margin: 0;
  padding: 0;
}

/* line 15, ../../scss/uofg/style.scss */
body, tr, td, input, select, textarea {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Helvetica, Verdana, sans-serif;
  font-size: small;
  line-height: 1.5;
}

/* line 21, ../../scss/uofg/style.scss */
table {
  margin-top: 1em;
}

/* line 24, ../../scss/uofg/style.scss */
th, td {
  padding: 3px;
}

/* line 28, ../../scss/uofg/style.scss */
.container {
  margin: 0 auto;
  position: relative;
  width: 860px;
}

/* line 34, ../../scss/uofg/style.scss */
.clear {
  clear: both;
}

/* line 38, ../../scss/uofg/style.scss */
a:active, a:focus {
  outline: 0;
}

/* line 42, ../../scss/uofg/style.scss */
h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: -1px;
}

/* line 48, ../../scss/uofg/style.scss */
h2 {
  text-transform: uppercase;
}

/* line 52, ../../scss/uofg/style.scss */
#main {
  background: white url("../../media/layout/mainbg.jpg") repeat-x;
  border-top: 1px solid white;
}

/* line 57, ../../scss/uofg/style.scss */
#main > div.container {
  background: white;
  min-height: 290px;
  overflow: hidden;
}

/* line 62, ../../scss/uofg/style.scss */
#misc div.container {
  min-height: 290px;
}

/* rgeddes 28/04/09 - changed with from 516px to 500px */
/* line 67, ../../scss/uofg/style.scss */
#content {
  background: white;
  padding: 15px 20px 0 50px;
  margin: 0 0 30px;
  width: 500px;
  overflow: hidden;
}

/* line 75, ../../scss/uofg/style.scss */
#content a {
  color: #369;
}

/* line 79, ../../scss/uofg/style.scss */
#content > * {
  display: block;
}

/* line 83, ../../scss/uofg/style.scss */
#content.full {
  width: 760px;
}

/* line 87, ../../scss/uofg/style.scss */
#content script {
  display: none;
}

/* line 91, ../../scss/uofg/style.scss */
#content dl dt {
  font-weight: 700;
}

/* line 95, ../../scss/uofg/style.scss */
#content dl dd {
  margin-bottom: 1em;
}

/* line 99, ../../scss/uofg/style.scss */
#content h1 {
  color: #69c;
  font-size: 27px;
  margin-bottom: .5em;
}

/* line 105, ../../scss/uofg/style.scss */
#content h2, #content p {
  margin: 0 0 20px;
}

/* line 109, ../../scss/uofg/style.scss */
#content h2 {
  font-size: 18px;
}

/* line 113, ../../scss/uofg/style.scss */
#content h3 {
  font-size: 16px;
}

/* line 117, ../../scss/uofg/style.scss */
#content h4 {
  font-size: 14px;
}

/* line 121, ../../scss/uofg/style.scss */
#content ul, #content ol {
  margin-left: 15px;
  margin-bottom: 1em;
}

/* line 126, ../../scss/uofg/style.scss */
#content h2, #content h3, #content h4 {
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: normal;
  margin: 10px 0;
  text-transform: none;
}

/* line 134, ../../scss/uofg/style.scss */
#content h3, #content h4 {
  color: #333;
  font-weight: bold;
}

/* line 139, ../../scss/uofg/style.scss */
#content h5, #content h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  margin: 10px 0;
  text-transform: uppercase;
}

/* line 147, ../../scss/uofg/style.scss */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  clear: left;
}

/* line 151, ../../scss/uofg/style.scss */
#content h1 a {
  color: #69c;
}

/* line 155, ../../scss/uofg/style.scss */
#content h2 a {
  color: #333333;
}

/* line 159, ../../scss/uofg/style.scss */
#content h3 a {
  color: #333333;
}

/* line 163, ../../scss/uofg/style.scss */
#content h1 a, h2 a {
  text-decoration: none;
}

/* line 166, ../../scss/uofg/style.scss */
#content h2 a:hover {
  text-decoration: underline;
}

/* line 170, ../../scss/uofg/style.scss */
#misc {
  background: #45403c;
}

/* line 174, ../../scss/uofg/style.scss */
#misc {
  background: #45403a url("../../media/footer/miscbg.jpg");
  background-repeat: repeat-x;
  clear: both;
  display: block;
  padding: 0 10px;
}

/* line 182, ../../scss/uofg/style.scss */
#misc .container {
  background: #45403a url("../../media/footer/misccontbg.gif");
  background-repeat: no-repeat;
}

/* line 187, ../../scss/uofg/style.scss */
#misc #links {
  float: left;
  width: 565px;
}

/* line 192, ../../scss/uofg/style.scss */
#misc dl {
  float: left;
  margin: 0 50px 0 0;
  padding: 30px 0 15px;
  width: 125px;
}

/* line 199, ../../scss/uofg/style.scss */
#misc dt {
  color: #fc0;
}

/* line 203, ../../scss/uofg/style.scss */
#misc dd {
  line-height: 1.2;
  margin: 0.5em 0;
  padding: 0;
}

/* line 209, ../../scss/uofg/style.scss */
#misc dd a {
  color: #ccc;
  display: block;
  text-align: left;
  text-decoration: none;
  width: 125px;
}

/* line 217, ../../scss/uofg/style.scss */
#misc dd a.more {
  text-align: right;
}

/* Using floated Divs in footer (misc) instead of Definition Lists
 * as in original CPA design.
 */
/* line 224, ../../scss/uofg/style.scss */
#misc div.column {
  float: left;
  width: 178px;
  color: #ccc;
  margin: 30px 10px 15px 0;
}

/* line 230, ../../scss/uofg/style.scss */
#misc div.column h3 {
  color: #fc0;
  font-weight: normal;
  font-size: small;
}

/* line 235, ../../scss/uofg/style.scss */
#misc div.column a {
  color: #ccc;
  text-decoration: none;
}

/* line 239, ../../scss/uofg/style.scss */
#misc div.colum a:visited {
  color: #ccc;
}

/* line 242, ../../scss/uofg/style.scss */
#misc div.column a:hover {
  color: #ccc;
  text-decoration: underline;
}

/* line 246, ../../scss/uofg/style.scss */
#misc div.column p a {
  text-decoration: underline;
}

/* line 249, ../../scss/uofg/style.scss */
#misc div.column ul {
  list-style: none;
  padding-left: 0;
}

/* line 253, ../../scss/uofg/style.scss */
#misc div.column li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 3px;
}

/* line 260, ../../scss/uofg/style.scss */
#address {
  color: #ccc;
  display: block;
  float: right;
  margin: 15px 0;
  width: 270px;
}

/* line 268, ../../scss/uofg/style.scss */
#address > div {
  color: #ccc;
  margin: 15px 45px;
}

/* line 273, ../../scss/uofg/style.scss */
#address .org {
  font-weight: 700;
}

/* line 277, ../../scss/uofg/style.scss */
#address div a {
  border: 1px dotted #cccccc;
  border-width: 0 0 1px;
  color: #ccc;
  display: inline;
  text-decoration: none;
}

/* line 285, ../../scss/uofg/style.scss */
#address div a:hover {
  border: 1px solid #cccccc;
  border-width: 0 0 1px;
  text-decoration: none;
}

/* line 291, ../../scss/uofg/style.scss */
#footer {
  background: #21201c;
  clear: both;
  color: white;
  height: 50px;
  padding: 0 10px;
  text-align: right;
}

/* line 300, ../../scss/uofg/style.scss */
#footer a {
  color: white;
  text-decoration: none;
}

/* line 305, ../../scss/uofg/style.scss */
#footer p {
  width: 760px;
  margin: auto;
  padding-top: 15px;
}

/* line 311, ../../scss/uofg/style.scss */
div.field {
  margin: 5px 0 5px 0;
}

/* line 315, ../../scss/uofg/style.scss */
#content .vcard {
  background: #f3f2ee;
  border: 2px solid #e8e5de;
  padding: 5px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 5px 0;
}

/* line 324, ../../scss/uofg/style.scss */
#content span.vcard {
  padding: 2px 1px 2px 70px;
  margin: 0 2px 0;
}

/* line 1, ../../scss/uofg/style2.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 2, ../../scss/uofg/style2.scss */
body {
  background: #928a7d;
  margin: 0;
  padding: 0;
}

/* line 3, ../../scss/uofg/style2.scss */
.container {
  margin: 0 auto;
  position: relative;
  width: 860px;
}

/* line 4, ../../scss/uofg/style2.scss */
.clear {
  clear: both;
  display: inline-block;
}

/* line 5, ../../scss/uofg/style2.scss */
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* line 6, ../../scss/uofg/style2.scss */
* html .clear {
  height: 1%;
}

/* line 7, ../../scss/uofg/style2.scss */
a:active, a:focus {
  outline: 0;
}

/* line 8, ../../scss/uofg/style2.scss */
#header #global {
  background: #990000 url("/img/header/globalbg.jpg");
}

/* line 9, ../../scss/uofg/style2.scss */
#header #local, #header #local ul {
  background: #ff9900 url("/img/header/localbg.jpg");
}

/* line 10, ../../scss/uofg/style2.scss */
#feature, #misc {
  background: #45403c;
}

/* line 11, ../../scss/uofg/style2.scss */
#info {
  background: #787570 url("/img/layout/infobg.jpg");
  background-repeat: no-repeat;
  clear: both;
  display: block;
  padding: 0 50px;
}

/* line 12, ../../scss/uofg/style2.scss */
#footer {
  background: #21201c;
  clear: left;
  color: #fff;
  height: 50px;
  padding: 0 10px;
  text-align: right;
}

/* line 13, ../../scss/uofg/style2.scss */
#footer .container {
  background: #21201c;
  height: 50px;
}

/* line 14, ../../scss/uofg/style2.scss */
body, tr, td, input, select, textarea {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Helvetica, Verdana, sans-serif;
  font-size: small;
  line-height: 1.5;
  voice-family: inherit;
}

/* line 15, ../../scss/uofg/style2.scss */
h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: -1px;
}

/* line 16, ../../scss/uofg/style2.scss */
h2 {
  text-transform: uppercase;
}

/* line 17, ../../scss/uofg/style2.scss */
#news h2, #news h2 a {
  color: #f90;
  text-decoration: none;
}

/* line 18, ../../scss/uofg/style2.scss */
#tools h2 {
  background: #6699cc url("/img/icons/cog.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0 30px;
  padding: 0 0 0 20px;
}

/* line 19, ../../scss/uofg/style2.scss */
#global {
  height: 100px;
  overflow: visible;
}

/* line 20, ../../scss/uofg/style2.scss */
#global .container {
  background: inherit;
  height: 100px;
}

/* line 21, ../../scss/uofg/style2.scss */
#global h1 {
  color: #fff;
  font-size: 18px;
  height: 30px;
  left: 120px;
  margin: 0;
  position: absolute;
  top: 35px;
}

/* line 22, ../../scss/uofg/style2.scss */
#logo {
  background: url("/img/header/universityofguelph.gif");
  display: block;
  float: left;
  height: 100px;
  width: 100px;
}

/* line 23, ../../scss/uofg/style2.scss */
#logo strong {
  left: -999px;
  position: absolute;
  width: 990px;
}

/* line 24, ../../scss/uofg/style2.scss */
#globalnav {
  float: right;
  height: 50px;
  position: absolute;
  right: 0;
  top: 66px;
  width: 700px;
}

/* line 25, ../../scss/uofg/style2.scss */
#globalnav ul {
  float: right;
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 26, ../../scss/uofg/style2.scss */
#globalnav li {
  float: left;
  margin: 0 0 0 5px;
}

/* line 27, ../../scss/uofg/style2.scss */
#globalnav a {
  color: #fff;
  font-weight: 700;
  padding-bottom: 5px;
  padding-left: 20px;
  text-decoration: none;
}

/* line 28, ../../scss/uofg/style2.scss */
#globalnav a span {
  padding-bottom: 5px;
  padding-right: 20px;
  padding-top: 5px;
}

/* line 29, ../../scss/uofg/style2.scss */
#globalnav a, #globalnav a span {
  display: block;
  float: none;
}

/* line 30, ../../scss/uofg/style2.scss */
#globalnav a:hover {
  background: #880000 url("/img/header/tabhoverbg.png") left top no-repeat;
  color: #fff;
  padding-bottom: 0;
  padding-left: 20px;
}

/* line 31, ../../scss/uofg/style2.scss */
#globalnav a:hover span {
  background: url("/img/header/tabhoverbg.png") right top no-repeat;
  padding-bottom: 9px;
  padding-right: 20px;
}

/* line 32, ../../scss/uofg/style2.scss */
body#academics a#menu-academics, body#campus a#menu-campus, body#library a#menu-library, body#research a#menu-research, body#services a#menu-services {
  background: #ff9900 url("/img/tabbg.png") left top no-repeat;
  padding-bottom: 0;
}

/* line 33, ../../scss/uofg/style2.scss */
body#academics a#menu-academics span, body#campus a#menu-campus span, body#library a#menu-library span, body#research a#menu-research span, body#services a#menu-services span {
  background: url("/img/tabbg.png") right top no-repeat;
  padding-bottom: 12px;
}

/* line 34, ../../scss/uofg/style2.scss */
#local {
  height: 50px;
  overflow: hidden;
}

/* line 35, ../../scss/uofg/style2.scss */
#local .container {
  background: url("/img/header/universityofguelph.gif") left bottom no-repeat;
  height: 50px;
}

/* line 36, ../../scss/uofg/style2.scss */
#local ul {
  float: right;
  height: 50px;
  list-style: none;
  margin: 0;
}

/* line 37, ../../scss/uofg/style2.scss */
#local li {
  display: block;
  float: left;
  width: 120px;
}

/* line 38, ../../scss/uofg/style2.scss */
#local li a {
  color: #fff;
  display: block;
  height: 38px;
  line-height: 1.2;
  margin-left: 30px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

/* line 39, ../../scss/uofg/style2.scss */
#local li a:hover {
  background: #cc6600 url("/img/header/localhover.jpg");
}

/* line 40, ../../scss/uofg/style2.scss */
#feature {
  background: #45403a url("/img/featurebg.jpg");
  background-repeat: repeat-x;
  height: 220px;
  padding: 0 10px;
}

/* line 41, ../../scss/uofg/style2.scss */
#feature #rotator {
  background: #fff;
  height: 220px;
}

/* line 42, ../../scss/uofg/style2.scss */
#feature #rotator img {
  border: 0;
  display: none;
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 860px;
}

/* line 43, ../../scss/uofg/style2.scss */
#main {
  background: white url("/img/mainbg.jpg");
  background-repeat: repeat-x;
}

/* line 44, ../../scss/uofg/style2.scss */
#main .container {
  background: #fff;
  padding: 0;
  width: 860px;
}

/* line 45, ../../scss/uofg/style2.scss */
body#homepage #main .container {
  background: white url("/img/mainbg.gif");
  padding: 0 10px;
  width: 860px;
}

/* line 46, ../../scss/uofg/style2.scss */
#main2 {
  background: #fff;
  clear: both;
}

/* line 47, ../../scss/uofg/style2.scss */
#main2 .container {
  background: url("/img/main2bg.jpg");
  display: block;
  padding: 0 10px;
  width: 860px;
}

/* line 48, ../../scss/uofg/style2.scss */
#news {
  background: #fff;
  float: left;
  width: 590px;
}

/* line 49, ../../scss/uofg/style2.scss */
#news h2 {
  background: url("/img/feed.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  margin: 15px 50px;
  padding: 0 0 0 20px;
}

/* line 50, ../../scss/uofg/style2.scss */
#news p, #news ul {
  margin: 5px 50px;
}

/* line 51, ../../scss/uofg/style2.scss */
#news p a {
  display: block;
}

/* line 52, ../../scss/uofg/style2.scss */
#news ul {
  list-style: none;
  padding: 0;
}

/* line 53, ../../scss/uofg/style2.scss */
#news li {
  line-height: 1.2;
  margin: 0.5em 0;
}

/* line 54, ../../scss/uofg/style2.scss */
#news #other {
  float: left;
  margin: 0 0 15px;
  width: 300px;
}

/* line 55, ../../scss/uofg/style2.scss */
#news #other h2 {
  background: url("/img/icons/silk-icons/newspaper.png");
  background-position: 0 center;
  background-repeat: no-repeat;
}

/* line 56, ../../scss/uofg/style2.scss */
#events {
  display: block;
  float: right;
  width: 270px;
}

/* line 57, ../../scss/uofg/style2.scss */
#events h2, #events ul {
  margin: 15px 0;
}

/* line 58, ../../scss/uofg/style2.scss */
#events h2 {
  background: url("/img/icons/silk-icons/calendar.png");
  background-position: 0 center;
  background-repeat: no-repeat;
}

/* line 59, ../../scss/uofg/style2.scss */
#events li {
  clear: both;
  display: block;
  line-height: 1.2;
  margin: 0.5em 0;
  position: relative;
  width: 270px;
}

/* line 60, ../../scss/uofg/style2.scss */
#events a {
  text-decoration: none;
}

/* line 61, ../../scss/uofg/style2.scss */
#events a:hover {
  cursor: pointer;
}

/* line 62, ../../scss/uofg/style2.scss */
#events .summary {
  text-decoration: underline;
  display: block;
  width: 170px;
  float: right;
  padding-right: 20px;
}

/* line 63, ../../scss/uofg/style2.scss */
#events .dtstart, #events .dtend {
  display: block;
  width: 80px;
  float: left;
  clear: left;
}

/* line 64, ../../scss/uofg/style2.scss */
#events .dtend {
  margin-bottom: .5em;
}

/* line 65, ../../scss/uofg/style2.scss */
#tools {
  display: block;
  float: right;
  padding: 0 0 20px;
  width: 270px;
}

/* line 66, ../../scss/uofg/style2.scss */
#tools #podcast, #tools #weather, #tools #nowonline {
  color: #fff;
  background: #69c;
  display: block;
  line-height: 1.2;
  margin: 20px 30px;
  width: 200px;
}

/* line 67, ../../scss/uofg/style2.scss */
#tools #podcast h2 {
  background: url("/img/icons/silk-icons/ipod_cast.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  margin: 0 0 5px;
}

/* line 68, ../../scss/uofg/style2.scss */
#tools #podcast h2 a {
  text-decoration: none;
}

/* line 69, ../../scss/uofg/style2.scss */
#tools #podcast #player {
  margin-top: 5px;
}

/* line 70, ../../scss/uofg/style2.scss */
#tools #weather h2 {
  background: url("/img/weather.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  margin: 0 0 5px;
}

/* line 71, ../../scss/uofg/style2.scss */
#tools #weather ul {
  margin: 0;
}

/* line 72, ../../scss/uofg/style2.scss */
#tools #weather ul a {
  color: #B4CBE4;
  text-decoration: none;
}

/* line 73, ../../scss/uofg/style2.scss */
#tools #weather ul a span {
  color: #fff;
  text-decoration: underline;
}

/* line 74, ../../scss/uofg/style2.scss */
#tools #weather ul a:hover {
  background: #69c;
}

/* line 75, ../../scss/uofg/style2.scss */
#tools #weather #creditfooter {
  display: none;
}

/* line 76, ../../scss/uofg/style2.scss */
#tools #nowonline h2 {
  background: url("/img/icons/silk-icons/information.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  margin: 0 0 5px;
}

/* line 77, ../../scss/uofg/style2.scss */
#tools #nowonline p {
  padding: 0 0 0 20px;
}

/* line 78, ../../scss/uofg/style2.scss */
#weather img {
  display: block;
  height: 50px;
  margin: 30px;
  width: 200px;
}

/* line 79, ../../scss/uofg/style2.scss */
#tools ul {
  list-style: none;
  margin: 0 30px 30px;
  padding: 0;
}

/* line 80, ../../scss/uofg/style2.scss */
#tools ul li {
  border: 1px solid #6699cc;
}

/* line 81, ../../scss/uofg/style2.scss */
#tools ul li a {
  background: #69c;
  color: #fff;
  display: block;
  padding: 2px 20px;
}

/* line 82, ../../scss/uofg/style2.scss */
#tools ul li a:hover {
  background: #369;
  text-decoration: none;
}

/* line 83, ../../scss/uofg/style2.scss */
#tools a#ipod {
  background-image: url("/img/icons/silk-icons/ipod_cast.png");
  background-position: 175px center;
  background-repeat: no-repeat;
}

/* line 84, ../../scss/uofg/style2.scss */
#tools a#webadvisor {
  background-image: url("/img/icons/silk-icons/clock.png");
  background-position: 175px center;
  background-repeat: no-repeat;
}

/* line 85, ../../scss/uofg/style2.scss */
#tools a#webmail {
  background-image: url("/img/icons/silk-icons/email.png");
  background-position: 175px center;
  background-repeat: no-repeat;
}

/* line 86, ../../scss/uofg/style2.scss */
#tools a#courselink {
  background-image: url("/img/icons/silk-icons/book.png");
  background-position: 175px center;
  background-repeat: no-repeat;
}

/* line 87, ../../scss/uofg/style2.scss */
#tools a#distanceeducation {
  background-image: url("/img/icons/silk-icons/computer.png");
  background-position: 175px center;
  background-repeat: no-repeat;
}

/* line 88, ../../scss/uofg/style2.scss */
#tools a#myportico {
  background-image: url("/img/icons/silk-icons/door.png");
  background-position: 175px center;
  background-repeat: no-repeat;
}

/* line 89, ../../scss/uofg/style2.scss */
#info h3 {
  color: #fff;
  font-weight: 400;
  margin: 0;
  padding: 40px 0 5px;
}

/* line 90, ../../scss/uofg/style2.scss */
#info .infobox1, #info .infobox2, #info .infobox3 {
  background: #787570;
  color: #fff;
  display: block;
  float: left;
  margin: 0 0 25px;
  padding: 0;
  width: 220px;
}

/* line 91, ../../scss/uofg/style2.scss */
#info .infobox2 {
  margin: 0 50px;
}

/* line 92, ../../scss/uofg/style2.scss */
#info .infobox3 {
  margin: 0;
}

/* line 93, ../../scss/uofg/style2.scss */
.infobox1 p, .infobox2 p, .infobox3 p {
  text-align: justify;
}

/* line 94, ../../scss/uofg/style2.scss */
#misc {
  background: #45403a url("/img/footer/miscbg.jpg");
  background-repeat: repeat-x;
  clear: both;
  display: block;
  padding: 0 10px;
}

/* line 95, ../../scss/uofg/style2.scss */
#misc .container {
  background: #45403a url("/img/footer/misccontbg.gif");
  background-repeat: no-repeat;
}

/* line 96, ../../scss/uofg/style2.scss */
#misc #links {
  float: left;
  width: 565px;
}

/* line 97, ../../scss/uofg/style2.scss */
#misc dl {
  float: left;
  margin: 0 50px 0 0;
  padding: 30px 0 15px;
  width: 125px;
}

/* line 98, ../../scss/uofg/style2.scss */
#misc dt {
  color: #fc0;
}

/* line 99, ../../scss/uofg/style2.scss */
#misc dd {
  line-height: 1.2;
  margin: 0.5em 0;
  padding: 0;
}

/* line 100, ../../scss/uofg/style2.scss */
#misc dd a {
  color: #ccc;
  background: #45403a;
  display: block;
  text-align: left;
  text-decoration: none;
  width: 125px;
}

/* line 101, ../../scss/uofg/style2.scss */
#misc dd a.more {
  text-align: right;
}

/* line 102, ../../scss/uofg/style2.scss */
#address {
  color: #ccc;
  display: block;
  float: right;
  margin: 15px 0;
  width: 270px;
}

/* line 103, ../../scss/uofg/style2.scss */
#address > div {
  color: #ccc;
  margin: 15px 45px;
}

/* line 104, ../../scss/uofg/style2.scss */
#address .org {
  font-weight: 700;
}

/* line 105, ../../scss/uofg/style2.scss */
#address div a {
  border: 1px dotted #cccccc;
  border-width: 0 0 1px;
  color: #ccc;
  display: inline;
  text-decoration: none;
}

/* line 106, ../../scss/uofg/style2.scss */
#address div a:hover {
  border: 1px solid #cccccc;
  border-width: 0 0 1px;
  text-decoration: none;
}

/* line 107, ../../scss/uofg/style2.scss */
#footer p {
  margin: 0 40px;
  padding: 10px 0;
}

/* line 108, ../../scss/uofg/style2.scss */
html[xmlns] .clear, #news p a {
  display: block;
}

/* line 109, ../../scss/uofg/style2.scss */
#events a:hover abbr, #events a:hover span.dtend, #misc a:hover {
  text-decoration: underline;
}

/* line 110, ../../scss/uofg/style2.scss */
#tools a, #address p strong {
  color: #fff;
}

/* line 111, ../../scss/uofg/style2.scss */
#content {
  background: #fff;
  float: left;
  margin: 0 0 30px;
  width: 590px;
  overflow: hidden;
}

/* line 112, ../../scss/uofg/style2.scss */
#content > * {
  margin-left: 50px;
  margin-right: 50px;
  display: block;
}

/* line 113, ../../scss/uofg/style2.scss */
#content script {
  display: none;
}

/* line 114, ../../scss/uofg/style2.scss */
#content ul li {
  list-style-type: circle;
}

/* line 115, ../../scss/uofg/style2.scss */
#content > * > li {
  margin: 0 15px;
}

/* line 116, ../../scss/uofg/style2.scss */
#content > * > li > ol, #content > * > li > ul {
  margin: 0 15px;
}

/* line 117, ../../scss/uofg/style2.scss */
#content dl dt {
  font-weight: 700;
}

/* line 118, ../../scss/uofg/style2.scss */
#content dl dd {
  margin-bottom: 1em;
}

/* line 119, ../../scss/uofg/style2.scss */
#content h1 {
  color: #69c;
  font-size: 36px;
  margin: 15px 50px;
}

/* line 120, ../../scss/uofg/style2.scss */
#content h2, #content p, #content ul {
  margin: 0 50px 20px;
}

/* line 121, ../../scss/uofg/style2.scss */
#content h2, #content h3, #content h4 {
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: normal;
  margin: 10px 50px;
  text-transform: none;
}

/* line 122, ../../scss/uofg/style2.scss */
#content h3, #content h4 {
  color: #333;
  font-size: 16px;
}

/* line 123, ../../scss/uofg/style2.scss */
#content h5, #content h6 {
  color: #333;
  font-size: 12px;
  margin: 10px 50px;
  text-transform: uppercase;
}

/* line 124, ../../scss/uofg/style2.scss */
#sidebar {
  background: white url("/img/layout/sidebarbg.jpg") no-repeat;
  display: block;
  float: right;
  padding: 20px 0;
  width: 270px;
  overflow: hidden;
}

/* line 125, ../../scss/uofg/style2.scss */
#sidebar a img {
  border: none;
}

/* line 126, ../../scss/uofg/style2.scss */
#sidebar > * {
  margin: 0;
  padding: 2px 40px;
  display: block;
}

/* line 127, ../../scss/uofg/style2.scss */
#sidebar > ol, #sidebar > ul {
  padding: 0;
}

/* line 128, ../../scss/uofg/style2.scss */
#sidebar > * > li {
  margin: 0 60px;
  list-style-type: circle;
}

/* line 129, ../../scss/uofg/style2.scss */
#sidebar > * > li > ol, #sidebar > * > li > ul {
  margin: 0 15px;
}

/* line 130, ../../scss/uofg/style2.scss */
#sidebar dl dt {
  font-weight: 700;
}

/* line 131, ../../scss/uofg/style2.scss */
#sidebar dl dd {
  margin-bottom: 1em;
}

/* line 132, ../../scss/uofg/style2.scss */
#sidebar h2, #sidebar p {
  color: #666;
  margin: 0 0 20px;
  padding: 2px 40px;
}

/* line 133, ../../scss/uofg/style2.scss */
#sidebar h2 {
  margin: 10px 0 20px;
}

/* line 134, ../../scss/uofg/style2.scss */
#sidebar p {
  font-size: 11px;
  margin: 10px 0 20px;
}

/* line 135, ../../scss/uofg/style2.scss */
#sidebar #subnav {
  padding: 0;
}

/* line 136, ../../scss/uofg/style2.scss */
#sidebar #subnav h3 {
  background: #666;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 0 40px;
  text-transform: uppercase;
}

/* line 137, ../../scss/uofg/style2.scss */
#sidebar #subnav ul {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

/* line 138, ../../scss/uofg/style2.scss */
#sidebar #subnav ul li {
  border: 1px solid #cccccc;
  border-width: 0 0 1px;
}

/* line 139, ../../scss/uofg/style2.scss */
#sidebar #subnav ul li a {
  background: #fff;
  color: #666;
  display: block;
  padding: 2px 40px;
  text-decoration: none;
}

/* line 140, ../../scss/uofg/style2.scss */
#sidebar #subnav ul li a:hover {
  background: #999;
  color: #fff;
  text-decoration: none;
}

/* line 141, ../../scss/uofg/style2.scss */
#sidebar .sidebox {
  background: url("/img/sideboxbg.gif") 0 bottom;
  margin: 0 auto;
  padding: 0 0 20px;
  width: 240px;
}

/* line 142, ../../scss/uofg/style2.scss */
#subnav li a + span {
  display: none;
}

/* line 143, ../../scss/uofg/style2.scss */
#sidebar .sidebox h4 {
  background: white url("/img/sideboxbg.gif") 0 top;
  color: #666;
  margin: 0;
  padding: 25px 25px 0;
}

/* line 144, ../../scss/uofg/style2.scss */
#sidebar .sidebox p {
  margin: 10px 0;
  padding: 0 25px;
}

/* line 145, ../../scss/uofg/style2.scss */
#sidebar .profile a {
  background: #333;
  color: #fff;
  text-decoration: none;
  width: 170px;
  display: block;
  padding: 0 0 4px 0;
}

/* line 146, ../../scss/uofg/style2.scss */
#sidebar .profile a strong, #sidebar .profile a em {
  padding: 0 4px;
  font-style: normal;
}

/* line 147, ../../scss/uofg/style2.scss */
#news a, #news a, #content a {
  color: #369;
}

/* line 148, ../../scss/uofg/style2.scss */
#global form label a, #footer a {
  color: #fff;
  text-decoration: none;
}

/* line 149, ../../scss/uofg/style2.scss */
#content .vcard {
  background: #f3f2ee !important;
  border: 2px solid #e8e5de !important;
  padding: 5px !important;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 5px 0 !important;
}

/* line 151, ../../scss/uofg/style2.scss */
#content span.vcard {
  padding: 2px 1px 2px 70px !important;
  margin: 0 2px 0 !important;
}

/* line 152, ../../scss/uofg/style2.scss */
#content div#more p {
  color: #666;
  margin: 0;
}

/* line 153, ../../scss/uofg/style2.scss */
#content a[href^="http://"] {
  background: url(/img/external.png) center right no-repeat;
  padding-right: 13px;
}

/* line 157, ../../scss/uofg/style2.scss */
#content a[href*="uoguelph.ca"] {
  background: none;
  padding-right: 0;
}

/* line 161, ../../scss/uofg/style2.scss */
a[rel*="video"] {
  padding: 5px 20px 5px 0;
  background: transparent url(http://www.uoguelph.ca/img/icons/silk-icons/film.png) no-repeat center right;
}

/* line 165, ../../scss/uofg/style2.scss */
a[rel*="image"] {
  padding: 5px 20px 5px 0;
  background: transparent url(http://www.uoguelph.ca/img/icons/silk-icons/images.png) no-repeat center right;
}

/* line 171, ../../scss/uofg/style2.scss */
#global #dirSearch, #global #libSearch, #global #libSearchLink {
  display: none;
}

/* line 172, ../../scss/uofg/style2.scss */
#global form {
  background: url("/img/header/searchbg.gif");
  background-repeat: no-repeat;
  float: right;
  height: 36px;
  margin: 10px 0;
  overflow: hidden;
  padding: 4px 0;
  position: relative;
  width: 260px;
}

/* line 173, ../../scss/uofg/style2.scss */
#global form input#searchbutton, #global form input#searchbutton2, #global form input#searchbutton3 {
  border: 0;
  display: block;
  height: 16px;
  position: absolute;
  right: 30px;
  top: 5px;
  width: 16px;
}

/* line 174, ../../scss/uofg/style2.scss */
#global form #searchtext, #global form #searchtext2, #global form #searchtext3 {
  background: white transparent;
  border: solid 0 white;
  font-size: 11px;
  height: 12px;
  margin: 0 15px;
  overflow: hidden;
  padding: 2px;
  width: 200px;
}

/* line 175, ../../scss/uofg/style2.scss */
#global #searchtype {
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 38px;
  right: 74px;
}

/* line 176, ../../scss/uofg/style2.scss */
#global form label, #global #searchtype a, #global #searchtype b, #global #searchtype strong {
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 2px;
  font-weight: 300;
}

/* line 177, ../../scss/uofg/style2.scss */
#global #searchtype a, #global #searchtype label {
  text-decoration: none;
  padding: 2px 0 4px 7px;
}

/* line 178, ../../scss/uofg/style2.scss */
#global #searchtype a span, #global #searchtype label span {
  padding: 0 7px 4px 0;
}

/* line 179, ../../scss/uofg/style2.scss */
#global .selectedSearch {
  background: #cc0000 url("/img/header/searchtypebg.gif") left bottom no-repeat;
  padding: 2px 0 4px 7px;
}

/* line 180, ../../scss/uofg/style2.scss */
#global .selectedSearch span {
  background: #cc0000 url("http://www.uoguelph.ca/img/searchtypebg.gif") right bottom no-repeat;
  padding: 0 7px 4px 0;
}

/* line 181, ../../scss/uofg/style2.scss */
#libSearchLink {
  width: 5px;
  float: right;
  position: absolute;
  right: -10px;
  top: 0;
}

/* line 182, ../../scss/uofg/style2.scss */
#emergency {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 1500px;
  background-image: url("http://www.uoguelph.ca/img/blackout.png");
  color: #fff;
}

/* line 183, ../../scss/uofg/style2.scss */
#emergency #message {
  width: 550px;
  margin: 100px auto 0 auto;
}

/* line 184, ../../scss/uofg/style2.scss */
#emergency #message img {
  float: left;
  margin: 0 20px 20px 0;
  border: 2px solid #111111;
}

/* line 185, ../../scss/uofg/style2.scss */
#emergency #message h1 {
  padding-top: 30px;
  margin-bottom: 10px;
  color: #fc0;
  font-family: Arial;
  font-size: 24px;
}

/* line 186, ../../scss/uofg/style2.scss */
#emergency #message p {
  line-height: 1.25;
  margin: 0 0 12px 124px;
}

/*
 * UG  standard top menu bar
 */
/* line 4, ../../scss/uofg/topmenu.scss */
#header #local {
  background: #ff9900 url("../../img/header/localbg.jpg") repeat-x;
}

/* line 8, ../../scss/uofg/topmenu.scss */
#topMenu ul {
  float: right;
  width: 760px;
  height: 50px;
  list-style: none;
  margin: 0;
}

/* line 16, ../../scss/uofg/topmenu.scss */
#topMenu li {
  display: block;
  float: right;
  width: 100px;
}

/* line 22, ../../scss/uofg/topmenu.scss */
#topMenu li a {
  color: #fff;
  display: block;
  height: 33px;
  line-height: 1.2;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

/* line 33, ../../scss/uofg/topmenu.scss */
#topMenu li a:hover {
  background: #cc6600 url("../../img/header/localhover.png") repeat-x;
}
