/* line 1, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block, #sidebar div.block-menu, #sidebar div.menu {
  padding: 0;
  margin-top: 20px;
}

/* line 6, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block h3, #sidebar div.block-menu h3, #sidebar div.menu h3 {
  background: #666;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 0 40px;
  text-transform: uppercase;
}

/* line 15, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block h3 a, #sidebar div.block-menu h3 a, #sidebar div.menu h3 a {
  color: #fff;
  text-decoration: none;
}

/* line 20, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block h3 a:hover, #sidebar div.block-menu h3 a:hover, #sidebar div.menu h3 a:hover {
  text-decoration: underline;
}

/* line 25, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu, #sidebar div.block-menu ul.menu {
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;
}

/* line 30, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li, #sidebar div.block-menu ul.menu li {
  border: solid #cccccc;
  border-width: 0 0 1px;
  margin: 0;
  padding: 0;
}

/* line 36, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li a, #sidebar div.block-menu ul.menu li a {
  display: block;
  width: auto;
  background-color: white;
  color: #666;
  padding: 2px 5px 2px 40px;
  text-decoration: none;
  list-style: none outside none;
}

/* line 45, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.active a, #sidebar div.block-menu ul.menu li.active a {
  font-weight: bold;
  text-decoration: underline;
}

/* line 49, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li a, #sidebar div.block-menu ul.menu li a {
  background: white url(../../media/nav/collapsed.gif) no-repeat left;
}

/* line 52, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li a:hover, #sidebar div.block-menu ul.menu li a:hover {
  background: #999999 url(../../media/nav/collapsed_hover.gif) no-repeat left;
}

/* line 55, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.leaf a, #sidebar div.block-menu ul.menu li.leaf a {
  background-image: none;
}

/* line 58, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded a, #sidebar div.block-menu ul.menu li.expanded a {
  background: white url(../../media/nav/expanded.gif) no-repeat left;
}

/* line 61, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded a:hover, #sidebar div.block-menu ul.menu li.expanded a:hover {
  background: #999999 url(../../media/nav/expanded_hover.gif) no-repeat left;
}

/* line 64, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li a:hover, #sidebar div.block-menu ul.menu li a:hover {
  color: white;
  text-decoration: none;
}

/* 2nd level items */
/* line 70, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li a {
  text-decoration: none;
}

/* line 73, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded a, #sidebar div.block-menu ul.menu li.expanded a {
  border-bottom: 1px solid #cccccc;
}

/* line 76, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul, #sidebar div.block-menu ul.menu li.expanded ul {
  margin: 0;
}

/* line 79, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li, #sidebar div.block-menu ul.menu li.expanded ul li {
  border: none;
}

/* line 82, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li a {
  border: none;
  font-weight: normal;
  background: none;
  color: #333;
  width: 225px;
}

/* line 89, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li a:hover, #sidebar div.block-menu ul.menu li.expanded ul li a:hover {
  text-decoration: underline;
  background: none;
}

/* line 93, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.active a, #sidebar div.block-menu ul.menu li.expanded ul li.active a {
  background: none;
  font-weight: bold;
  text-decoration: underline;
}

/* line 98, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li a {
  background: url(../../media/nav/collapsed.gif) no-repeat left;
}

/* line 101, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.collapsed a:hover, #sidebar div.block-menu ul.menu li.expanded ul li.collapsed a:hover {
  background: url(../../media/nav/collapsed.gif) no-repeat left;
}

/* line 104, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.leaf a, #sidebar div.block-menu ul.menu li.expanded ul li.leaf a {
  background-image: none;
}

/* line 107, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded a, #sidebar div.block-menu ul.menu li.expanded ul li.expanded a {
  background: url(../../media/nav/expanded.gif) no-repeat left;
}

/* 3rd level items */
/* line 112, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li {
  padding-left: 10px;
}

/* line 115, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li.active a, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li.active a {
  font-weight: bold;
  text-decoration: underline;
}

/* line 119, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li a {
  font-weight: normal;
  text-decoration: none;
  color: #333;
}

/* line 124, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li a, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li a {
  background-image: none;
}

/* line 127, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li.expanded ul li.expanded ul li a:hover, #sidebar div.block-menu ul.menu li.expanded ul li.expanded ul li a:hover {
  background-image: none;
  text-decoration: underline;
}

/* 4th level items */
/* line 133, ../../../scss/uofg/dsidenav.scss */
#sidebar div.block-menu_block ul.menu li ul li ul li ul, #sidebar div.block-menu ul.menu li ul li ul li ul {
  display: none;
}
