/* line 1, ../../../scss/uofg/home.scss */
#main {
  background: white url("../../media/layout/mainbg.jpg") repeat-x;
}

/* line 4, ../../../scss/uofg/home.scss */
#main div.container {
  background: url("../../media/layout/mainbghome.png") repeat-y;
  padding: 0 10px;
}

/* line 9, ../../../scss/uofg/home.scss */
#content {
  float: none;
  margin-bottom: 0;
}

/* line 13, ../../../scss/uofg/home.scss */
#sidebar {
  color: #ffffff;
  float: right;
  width: 238px;
  padding: 15px;
}

/* line 20, ../../../scss/uofg/home.scss */
#sidebar a {
  color: #ffffff;
}

/* line 24, ../../../scss/uofg/home.scss */
#sidebar ul.menu {
  list-style: none outside none;
  padding: 0;
}

/* line 29, ../../../scss/uofg/home.scss */
#sidebar ul.menu li {
  list-style: none;
  padding: 3px 10px;
}

/* line 34, ../../../scss/uofg/home.scss */
#sidebar div.block-menu h3 {
  text-transform: uppercase;
}

/* line 38, ../../../scss/uofg/home.scss */
#feature {
  background: #45403a url("../../media/layout/featurebg.jpg") repeat-x;
  height: 220px;
  border-top: 1px solid white;
}

/* line 43, ../../../scss/uofg/home.scss */
#feature img {
  border: 0;
}

/* line 47, ../../../scss/uofg/home.scss */
#main2 {
  background: white;
}

/* line 50, ../../../scss/uofg/home.scss */
#main2 .container {
  background: url("../../media/layout/main2bg.png") repeat-y;
  padding: 0 10px 20px;
}

/* line 55, ../../../scss/uofg/home.scss */
#info {
  background: #787570 url("../../media/layout/infobg.jpg") no-repeat;
  padding: 40px 10px;
}

/* line 59, ../../../scss/uofg/home.scss */
#info a {
  color: white;
}

/* line 62, ../../../scss/uofg/home.scss */
#info ul {
  list-style: none;
}

/* line 65, ../../../scss/uofg/home.scss */
#info h3 {
  color: #fc0;
  font-weight: 400;
}

/* line 69, ../../../scss/uofg/home.scss */
#info p {
  text-align: justify;
}

/* line 70, ../../../scss/uofg/home.scss */
#info .infobox {
  color: white;
  float: left;
  width: 240px;
  margin-left: 20px;
}

/*#info .infobox3 {margin: 0;}*/
/* line 78, ../../../scss/uofg/home.scss */
#footer {
  margin-top: 0;
}
