/* line 1, ../../../scss/uofg/screen_layout.scss */
#frame {
  position: relative;
  left: 230px;
  top: 0;
  border-left: 1px solid black;
}

/* line 7, ../../../scss/uofg/screen_layout.scss */
#admin {
  position: absolute;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  border-right: 1px solid black;
}

/* line 15, ../../../scss/uofg/screen_layout.scss */
#header #local .container {
  background: url("../../img/header/universityofguelph.gif") left bottom no-repeat;
  height: 50px;
}

/* line 20, ../../../scss/uofg/screen_layout.scss */
#localTitle {
  float: right;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 10px 5px 0 0;
}

/* line 30, ../../../scss/uofg/screen_layout.scss */
#relatedLinks {
  list-style: none;
}

/*
 * search
 */
/* line 38, ../../../scss/uofg/screen_layout.scss */
#search {
  margin: 0;
  padding: 15px 10px;
}

/* line 43, ../../../scss/uofg/screen_layout.scss */
#searchbox {
  background: white;
}
