/* line 1, ../../../scss/uofg/sidenav.scss */
#sidebar #subnav {
  padding: 0;
  margin-top: 20px;
}

/* line 6, ../../../scss/uofg/sidenav.scss */
#sidebar #subnav h3 {
  background: #666;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 0 40px;
  text-transform: uppercase;
}

/* line 15, ../../../scss/uofg/sidenav.scss */
#sidebar #subnav ul {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

/* line 21, ../../../scss/uofg/sidenav.scss */
#sidebar #subnav ul li {
  border: 1px solid #cccccc;
  border-width: 0 0 1px;
}

/* line 26, ../../../scss/uofg/sidenav.scss */
#sidebar #subnav ul li a {
  background: #fff;
  color: #666;
  display: block;
  padding: 2px 40px;
  text-decoration: none;
}

/* line 34, ../../../scss/uofg/sidenav.scss */
#sidebar #subnav ul li a:hover {
  background: #999;
  color: #fff;
  text-decoration: none;
}

/* line 39, ../../../scss/uofg/sidenav.scss */
#sidebar #subnav ul li ul {
  display: none;
}
