/*
 * UG  standard top menu bar
 */
/* line 4, ../../../scss/uofg/topmenu.scss */
#header #local {
  background: #ff9900 url("../../img/header/localbg.jpg") repeat-x;
}

/* line 8, ../../../scss/uofg/topmenu.scss */
#topMenu ul {
  float: right;
  width: 760px;
  height: 50px;
  list-style: none;
  margin: 0;
}

/* line 16, ../../../scss/uofg/topmenu.scss */
#topMenu li {
  display: block;
  float: right;
  width: 100px;
}

/* line 22, ../../../scss/uofg/topmenu.scss */
#topMenu li a {
  color: #fff;
  display: block;
  height: 33px;
  line-height: 1.2;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

/* line 33, ../../../scss/uofg/topmenu.scss */
#topMenu li a:hover {
  background: #cc6600 url("../../img/header/localhover.png") repeat-x;
}
