#main label {

}

#main .chzn-container-multi .chzn-choices .search-field input {
	padding: 0px;
}

#main .chzn-container { 
	float: left;
	clear: both;
}

#dataset-add {
	#ontologies {
		clear: both;
	}
}

#dataset-add {
	label,
	input, 
	textarea,
	select {
		float: left; 
		clear: both;
		min-width: 30em;
	} 

	input[type="submit"] {
		width: auto;
		min-width: 0;
	}
}