#main label {

}

#main .chzn-container-multi .chzn-choices .search-field input {
	padding: 0px;
}

#main .chzn-container { 
	float: left;
	clear: both;
}

#dataset-add {
	#ontologies {
		clear: both;
	}
}

label,
input, 
textarea,
select {
	float: left; 
	clear: both;
} 