#main label {

}

#main .chzn-container-multi .chzn-choices .search-field input {
	padding: 0px;
}

#main .chzn-container { 
	float: left;
	clear: both;
}

#dataset-add {
	#ontologies {
		clear: both;
	}
}

#dataset-add {

	input[type="text"] {
		width: 25em;
	}

	input[type="submit"] {
		width: auto;
		min-width: 0;
	}
}