.dataset-index { 
	ul.dataset-list {
		list-style-type: none;
		margin-left: 0px;
	
		li {
			border-bottom: 1px dashed #333;
			padding-bottom: 1em;
			margin-bottom: 1em;
			
			@include legacy-pie-clearfix();
		}
	}
	
	a.dataset-name {
		font-size: 120%;
	}
	
	.dataset-description {
		@include legacy-pie-clearfix();
	}
}