/*
 * Forms
 **/
#main form {
	
	label,
	{
		span {
			float: left;
			clear: both;
			display: block;
		}
		select, 
		input,
		textarea {
			float: left;
			clear: both;	
		}
	}
	
	fieldset {
		border: 1px solid $border-colour;
		padding: 1em;
		margin-bottom: 1em;
		clear: both;
	 
		legend {
			font-size: 125%;
		}
	}

	label,
	input, 
	textarea,
	select {
		float: left; 
		clear: both;
		min-width: 12em;
		max-width: 600px;
	} 
	
	input,
	select {
		height: 26px;
	}
	
	select {
		height: 24px;
	}
	
	select[multiple=true] {
		height: auto;
		min-height: 12em;
	}
	
	input[type="submit"] {
		width: auto;
		float: left;
		clear: both;
		min-width: 0;
	} 
	
	label.required:after {
		content: "*";
		color: red;
	}

}