#main img {
	margin-bottom: 1em;
	
 	&[align="left"] {
		margin-right: 1em; 	
 	}
 	
 	&[align="right"] {
		margin-left: 1em; 	
 	}
 	
 	&[align="center"] {
		margin-left: 1em;
		margin-right: 1em; 	
 	}
 	
}
 