@import "compass/utilities/general/clearfix";

/*
 * Search
 **/
#search {
	#basicSearch {
		float: left;
		display: block;
		margin-right: 1em;
		margin-bottom: 0.5em;		
	}

	#advancedSearch {
		float: left;
		display: block;
		padding: 0 1em;
		
	}
}

#search-results {
	float: left;
	clear: both;
	width: 100%;

	.facets {
		float: left;
		margin-right: 2em;
		border: 1px solid #777;
		padding: 1em;
		max-width: 25%;
	}

	.results {
		min-width: 70%;
		display: block;
	}


}
