/*
 * Search
 **/
#search {
	#basicSearch {
		float: left;
		display: block;
		margin-right: 1em;
	}
	
	
	
	#advancedSearch {
		float: left;
		display: block;
		padding: 0 1em;
		display: none;
			
		
	}
}

#results {
	float: left;
	clear: both;
}